In [ ]:
# dictionary to list

In [3]:
dicct = {
    'a': 1,
    'b': 2,
    "c": 3
}

list(list(dicct.items()))

[('a', 1), ('b', 2), ('c', 3)]

In [4]:
# creata a dataframe and test for uniquenes

In [48]:
import numpy as np
import pandas as pd
data = {'Make':["Volkswagen", "Volkswagen", 'Volkswagen', "Mercedez", "Toyota", "Toyota", "Toyota", "Toyota"],\
        'Model':['V1', 'V1', 'V1', 'M2', 'T3', 'T3', 'T4', 'T4'],\
        'Year':['1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006']}

In [49]:
df = pd.DataFrame(data)
df

         Make Model  Year
0  Volkswagen    V1  1999
1  Volkswagen    V1  2000
2  Volkswagen    V1  2001
3    Mercedez    M2  2002
4      Toyota    T3  2003
5      Toyota    T3  2004
6      Toyota    T4  2005
7      Toyota    T4  2006

In [50]:
df.tolist()

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [44]:
df.groupby('Make')['Model'].nunique()

Make
Mercedez      1
Toyota        2
Volkswagen    1
Name: Model, dtype: int64

In [29]:
df.groupby(['Make', "Model"]).size().sort_values(ascending=False)

Make        Model
Volkswagen  V1       3
Toyota      T3       2
            T4       2
Mercedez    M2       1
dtype: int64

In [47]:
a = df.groupby(['Make', "Model"]).size().sort_values(ascending=False).head(3)

In [26]:
type(a)

pandas.core.series.Series

In [27]:
a

Make        Model
Volkswagen  V1       3
Toyota      T3       2
            T4       2
dtype: int64

In [30]:
df

         Make Model  Year
0  Volkswagen    V1  1999
1  Volkswagen    V1  2000
2  Volkswagen    V1  2001
3    Mercedez    M2  2002
4      Toyota    T3  2003
5      Toyota    T3  2004
6      Toyota    T4  2005
7      Toyota    T4  2006

In [35]:
df.groupby('Make')[['Model']].nunique()

            Model
Make
Mercedez        1
Toyota          2
Volkswagen      1

In [36]:
# test

In [37]:
import pandas as pd
df = pd.read_csv('./data/vehicles.csv')

In [45]:
# Assuming your DataFrame is named 'df'
top_brands = df.groupby('Make')['Model'].nunique().reset_index()
top_brands

         Make  Model
0    Mercedez      1
1      Toyota      2
2  Volkswagen      1

In [46]:
top_brands = top_brands.sort_values(by='Model', ascending=False).head(5)
print(type(top_brands))
top_brands

<class 'pandas.core.frame.DataFrame'>

         Make  Model
1      Toyota      2
0    Mercedez      1
2  Volkswagen      1

In [38]:
top_brands_list = top_brands.values.tolist()

print(top_brands_list)

[['Mercedes-Benz', 333], ['BMW', 284], ['Chevrolet', 253], ['Ford', 185], ['GMC', 163]]

In [51]:
top_brands.values

array([['Toyota', 2],
       ['Mercedez', 1],
       ['Volkswagen', 1]], dtype=object)

In [54]:
# test2
df = pd.read_csv('./data/vehicles.csv')
df.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [55]:
import pandas as pd

# Assuming your DataFrame is named 'df'
filtered_cars = df[(df['Make'] == 'Volkswagen') & (df['Model'] == 'Golf') & (df['Transmission'] == 'Manual 5-spd') & (df['Fuel Type'] == 'Regular')]
filtered_cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
34369,Volkswagen,Golf,1986,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300
34372,Volkswagen,Golf,1987,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300
34374,Volkswagen,Golf,1988,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,30,25,355.480000,1350
34377,Volkswagen,Golf,1989,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,31,25,355.480000,1350
34379,Volkswagen,Golf,1999,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34385,Volkswagen,Golf,2000,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34391,Volkswagen,Golf,2001,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34395,Volkswagen,Golf,2002,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34399,Volkswagen,Golf,2003,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,29,24,370.291667,1400
34403,Volkswagen,Golf,2004,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34407,Volkswagen,Golf,2005,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34411,Volkswagen,Golf,2006,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,29,24,370.291667,1400
34412,Volkswagen,Golf,2010,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,30,25,355.480000,1350
34417,Volkswagen,Golf,2011,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,33,26,341.807692,1300
34421,Volkswagen,Golf,2012,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,33,26,341.807692,1300
34427,Volkswagen,Golf,2013,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,33,26,335.000000,1300
34431,Volkswagen,Golf,2015,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,10.987000,25,37,30,300.000000,1100
34436,Volkswagen,Golf,2016,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,10.987000,25,37,30,300.000000,1100
34438,Volkswagen,Golf,2017,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,11.365862,25,36,29,305.000000,1150

In [65]:
# Sort the DataFrame by Year in ascending order
filtered_cars = filtered_cars.sort_values(by='Year')
filtered_cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,MPG Difference
34369,Volkswagen,Golf,1986,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300,0.0
34372,Volkswagen,Golf,1987,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300,0.0
34374,Volkswagen,Golf,1988,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,30,25,355.480000,1350,-1.0
34377,Volkswagen,Golf,1989,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,31,25,355.480000,1350,0.0
34379,Volkswagen,Golf,1999,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400,-1.0

In [64]:
df.drop(["Make"], axis=1).head(2)

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [66]:
# Calculate the difference in Combined MPG with the previous model
filtered_cars['MPG Difference'] = filtered_cars['Combined MPG'] - filtered_cars['Combined MPG'].shift(1)

# Fill the first row with 0 for the MPG Difference (since there's no previous model)
filtered_cars['MPG Difference'].fillna(0, inplace=True)

# Select the Year, Combined MPG, and MPG Difference columns
result_df = filtered_cars[['Year', 'Combined MPG', 'MPG Difference']].copy()

# Convert the Year and Combined MPG columns to integers
result_df[['Year', 'Combined MPG']] = result_df[['Year', 'Combined MPG']].astype(int)

# Convert the MPG Difference column to float
result_df['MPG Difference'] = result_df['MPG Difference'].astype(float)

# Convert the DataFrame to a list of lists
result_list = result_df.values.tolist()

print(result_list)

[[1986.0, 26.0, 0.0], [1987.0, 26.0, 0.0], [1988.0, 25.0, -1.0], [1989.0, 25.0, 0.0], [1999.0, 24.0, -1.0], [2000.0, 24.0, 0.0], [2001.0, 24.0, 0.0], [2002.0, 24.0, 0.0], [2003.0, 24.0, 0.0], [2004.0, 24.0, 0.0], [2005.0, 24.0, 0.0], [2006.0, 24.0, 0.0], [2010.0, 25.0, 1.0], [2011.0, 26.0, 1.0], [2012.0, 26.0, 0.0], [2013.0, 26.0, 0.0], [2015.0, 30.0, 4.0], [2016.0, 30.0, 0.0], [2017.0, 29.0, -1.0]]

In [87]:
# df['Transmission'].unique()
print(type(df['Transmission'].unique()))
df['Transmission'].unique().tolist()
len(df['Transmission'].unique())

<class 'numpy.ndarray'>

45

In [81]:
df[
    'Transmission'
]

0        Automatic 3-spd
1        Automatic 3-spd
2        Automatic 3-spd
3        Automatic 3-spd
4        Automatic 4-spd
              ...
35947          Auto(AM5)
35948          Auto(AM5)
35949          Auto(AM5)
35950          Auto(AM6)
35951       Manual 5-spd
Name: Transmission, Length: 35952, dtype: object

In [93]:
for column in df.columns:
    print(column, len(df[f'{column}'].unique()), sorted(df[f'{column}'].unique()), sep='\n')
    for i in range(2):
        print('.'*99)

Make
127
['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo', 'American Motors Corporation', 'Aston Martin', 'Audi', 'Aurora Cars Ltd', 'Autokraft Limited', 'BMW', 'BMW Alpina', 'Bentley', 'Bertone', 'Bill Dovell Motor Car Company', 'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering', 'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler', 'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia', 'Daewoo', 'Daihatsu', 'Dodge', 'E. P. Dutton, Inc.', 'Eagle', 'Environmental Rsch and Devp Corp', 'Evans Automobiles', 'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker', 'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre', 'Grumman Allied Industries', 'Grumman Olson', 'Honda', 'Hummer', 'Hyundai', 'Import Foreign Auto Sales Inc', 'Import Trade Services', 'Infiniti', 'Isis Imports Ltd', 'Isuzu', 'J.K. Motors', 'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia', 'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini', 'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc', 'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach', 'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz', 'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC', 'Morgan', 'Nissan', 'Oldsmobile', 'PAS Inc - GMC', 'PAS, Inc', 'Pagani', 'Panos', 'Panoz Auto-Development', 'Panther Car Company Limited', 'Peugeot', 'Pininfarina', 'Plymouth', 'Pontiac', 'Porsche', 'Quantum Technologies', 'Qvale', 'Ram', 'Red Shift Ltd.', 'Renault', 'Rolls-Royce', 'Roush Performance', 'Ruf Automobile Gmbh', 'S and S Coach Company  E.p. Dutton', 'SRT', 'Saab', 'Saleen', 'Saleen Performance', 'Saturn', 'Scion', 'Shelby', 'Spyker', 'Sterling', 'Subaru', 'Superior Coaches Div E.p. Dutton', 'Suzuki', 'TVR Engineering Ltd', 'Tecstar, LP', 'Texas Coach Company', 'Toyota', 'VPG', 'Vector', 'Vixen Motor Company', 'Volga Associated Automobile', 'Volkswagen', 'Volvo', 'Wallace Environmental', 'Yugo', 'smart']
...................................................................................................
...................................................................................................
Model
3608

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [95]:
# test 3

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [111]:
import pandas as pd

# Assuming your DataFrame is named 'df'
mask = (df['Model'] == 'Golf') & (df['Transmission'] == 'Manual 5-spd') & (df['Fuel Type'] == 'Regular') 
filtered_df = df[mask]

# Sort the DataFrame by Year in ascending order
sorted_df = filtered_df.sort_values(by='Year')

# Use shift to get the previous row's 'Combined MPG'
sorted_df['Previous Combined MPG'] = sorted_df['Combined MPG'].shift(fill_value=0)
# print(sorted_df)
sorted_df[['Combined MPG', 'Previous Combined MPG']].tail()

       Combined MPG  Previous Combined MPG
34421            26                     26
34427            26                     26
34431            30                     26
34436            30                     30
34438            29                     30

In [103]:
# Calculate the difference in 'Combined MPG' with the previous model
sorted_df['Difference in MPG'] = sorted_df['Combined MPG'] - sorted_df['Previous Combined MPG']

# Select only the desired columns
result_df = sorted_df[['Year', 'Combined MPG', 'Difference in MPG']]

# Convert the DataFrame to the specified list format
result_list = result_df.values.tolist()

# Print the result list
print(result_list)
result_list[0][2]

[[1986, 26, 26], [1987, 26, 0], [1988, 25, -1], [1989, 25, 0], [1999, 24, -1], [2000, 24, 0], [2001, 24, 0], [2002, 24, 0], [2003, 24, 0], [2004, 24, 0], [2005, 24, 0], [2006, 24, 0], [2010, 25, 1], [2011, 26, 1], [2012, 26, 0], [2013, 26, 0], [2015, 30, 4], [2016, 30, 0], [2017, 29, -1]]

26

In [119]:
df.nsmallest(20, 'Cylinders')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
3069,BMW,i3 REX,2014,0.6,2.0,Auto(A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
3070,BMW,i3 REX,2015,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
3071,BMW,i3 REX,2016,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,37.000000,1050
23123,Mazda,RX-7,1985,1.1,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23124,Mazda,RX-7,1985,1.1,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,20,17,522.764706,1950
23125,Mazda,RX-7,1985,1.1,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,20,17,522.764706,1950
23126,Mazda,RX-7,1985,1.1,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23127,Mazda,RX-7,1985,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
23128,Mazda,RX-7,1986,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Minicompact Cars,Regular,18.311667,15,22,18,493.722222,1850
23129,Mazda,RX-7,1987,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23130,Mazda,RX-7,1987,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,22,18,493.722222,1850
23131,Mazda,RX-7,1987,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23132,Mazda,RX-7,1988,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23133,Mazda,RX-7,1988,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23134,Mazda,RX-7,1988,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,22,18,493.722222,1850
23135,Mazda,RX-7,1989,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23136,Mazda,RX-7,1989,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,23,18,493.722222,1850
23137,Mazda,RX-7,1989,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
23138,Mazda,RX-7,1990,1.3,2.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
23139,Mazda,RX-7,1990,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,23,18,493.722222,1850

# Recheking my copy-1 (5th Aug 2023)

In [3]:
import numpy as np
import pandas as pd

In [7]:
# df = pd.read_csv("data/vehicles.csv", index=False)
# df.head()


df = pd.read_csv("data/vehicles.csv")
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

##Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.

In [55]:
result = df.groupby('Make')['Model'].nunique().nlargest(5).reset_index(name='Count').values.tolist()
result  # faster code

[['Mercedes-Benz', 333],
 ['BMW', 284],
 ['Chevrolet', 253],
 ['Ford', 185],
 ['GMC', 163]]

In [44]:
df.groupby('Make').nunique().sort_values(by='Model', ascending=False).head()['Model'].reset_index()

            Make  Model
0  Mercedes-Benz    333
1            BMW    284
2      Chevrolet    253
3           Ford    185
4            GMC    163

In [56]:
print(type(df.groupby('Make').nunique().sort_values(by='Model', ascending=False)['Model'].head()))

<class 'pandas.core.series.Series'>

In [24]:
indices = df.groupby('Make').nunique().sort_values(by='Model', ascending=False)['Model'].head().index.to_list()
values = df.groupby('Make').nunique().sort_values(by='Model', ascending=False)['Model'].head().to_list()
print(indices, values)

['Mercedes-Benz', 'BMW', 'Chevrolet', 'Ford', 'GMC'] [333, 284, 253, 185, 163]

In [35]:
top_brands = df.groupby('Make').nunique().sort_values(by='Model', ascending=False).head()['Model'].reset_index()#.reset_index()  # df
top_brands

            Make  Model
0  Mercedes-Benz    333
1            BMW    284
2      Chevrolet    253
3           Ford    185
4            GMC    163

In [ ]:
top_brands = top_brands.sort_values(by='Model', ascending=False).head(5)

In [25]:
# How to zip 2 lists
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

zipped_list = list(zip(list1, list2))
print(zipped_list)
for x in zipped_list:

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [57]:
# Q3

In [58]:
df['Fuel Type'].unique()

array(['Regular', 'Premium', 'Diesel', 'Premium and Electricity',
       'Premium or E85', 'Premium Gas or Electricity', 'Gasoline or E85',
       'Gasoline or natural gas', 'CNG', 'Regular Gas or Electricity',
       'Midgrade', 'Regular Gas and Electricity', 'Gasoline or propane'],
      dtype=object)

In [60]:
# improve 
# sorted(df['Fuel Type'].unique().tolist()) ,  SPEED
import numpy as np

sorted_fuels = np.sort(df['Fuel Type'].unique())
sorted_fuels

array(['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas',
       'Gasoline or propane', 'Midgrade', 'Premium',
       'Premium Gas or Electricity', 'Premium and Electricity',
       'Premium or E85', 'Regular', 'Regular Gas and Electricity',
       'Regular Gas or Electricity'], dtype=object)

In [61]:
# effect on changing a slice on original df
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
df

   A  B
0  1  4
1  2  5
2  3  6

In [62]:
# Slicing the DataFrame to create a new view
df_slice = df.iloc[:, 0:2]
df_slice

   A  B
0  1  4
1  2  5
2  3  6

In [64]:
# Modifying the value in the new slice
df_slice.at[0, 'A'] = 99

# Check the original DataFrame
print(df)

    A  B
0  99  4
1   2  5
2   3  6

Conclusion:

In sorting a new slice change will not affect the original df

In [65]:
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Slicing the DataFrame to create a new view
df_slice = df.iloc[:, 0:2]

# Adding a new column to the slice
df_slice['NewColumn'] = [10, 20, 30]

# Check the original DataFrame (not affected)
print(df)

   A  B
0  1  4
1  2  5
2  3  6

/var/folders/jk/jzn8yxf53h546z4w5yvmch280000gn/T/ipykernel_11911/71817938.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_slice['NewColumn'] = [10, 20, 30]

In [67]:
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Slicing the DataFrame to create a new view
df_slice = df.iloc[:, 0:2]
df_slice

   A  B
0  1  4
1  2  5
2  3  6

In [68]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [71]:
# Adding a new column to the slice
df_slice['NewColumn'] = [10, 20, 30]

# Check the original DataFrame (not affected)
# print(df)

/var/folders/jk/jzn8yxf53h546z4w5yvmch280000gn/T/ipykernel_11911/601051016.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_slice['NewColumn'] = [10, 20, 30]

In [70]:
print(df_slice)``bb

   A  B  NewColumn
0  1  4         10
1  2  5         20
2  3  6         30

## pandas cut method
It is used to created groups eg age groups etc

In [74]:
import pandas as pd

# Sample data
ages = [23, 28, 35, 42, 19, 56, 31, 40, 50, 65]

# Define bin edges for age groups
bins = [0, 18, 30, 50, 100]

# Use pd.cut() to create age groups
age_groups = pd.cut(ages, bins)

# Display the result
print(type(age_groups))
age_groups

<class 'pandas.core.arrays.categorical.Categorical'>

[(18, 30], (18, 30], (30, 50], (30, 50], (18, 30], (50, 100], (30, 50], (30, 50], (30, 50], (50, 100]]
Categories (4, interval[int64, right]): [(0, 18] < (18, 30] < (30, 50] < (50, 100]]

In [ ]:
grades = ['A', 'B', 'C', "D", "E"]
bin_edges = [0, 40, 50, 60, 70]

Q7 Tuple Test

In [78]:
(2, 3) + (4,5) + (2,)

(2, 3, 4, 5, 2)

In [76]:
[2, 3] + [4, 5]

[2, 3, 4, 5]

In [79]:
tuples_list = [(i, i + 4) for i in range(0, 96, 5)]

In [81]:
# tuples_list

In [85]:
import numpy as np
#calculate median
np.median([ 1, 3, 5, 5])

4.0

In [86]:
type(np.nan)

float

In [87]:
import numpy as np

# Create an array with some missing values represented by np.nan
data = np.array([1.0, 2.0, np.nan, 4.0, np.nan, 6.0])

# Calculate the mean of the array, ignoring the np.nan values
mean_value = np.nanmean(data)

print("Mean:", mean_value)

Mean: 3.25

In [89]:
np.mean(data)

nan

In [92]:
np.nanmedian([np.nan, 1, 3, 2, np.nan]) # will ignore nan, otherwise it will output nan

2.0

In [94]:
np.median([np.nan, 1, 3, 2, np.nan]) # will always output to nan

nan

##Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

#####Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
#####Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

#####Example answer:


```
[[(1984, 1988), 11.0],
 [(1989, 1993), 10.0],
 [(1994, 1998), 10.0],
 [(1999, 2003), 14.0],
 [(2004, 2008), 13.0],
 [(2009, 2013), 14.0],
 [(2014, 2018), 15.0]]
```

In [98]:
# create a list of tuples of the year
list_tuples = [(i, i+4) for i in range(1984, 2019, 5)]
list_tuples

[(1984, 1988),
 (1989, 1993),
 (1994, 1998),
 (1999, 2003),
 (2004, 2008),
 (2009, 2013),
 (2014, 2018)]

In [99]:
for year_group in list_tuples:
    print(year_group)

(1984, 1988)
(1989, 1993)
(1994, 1998)
(1999, 2003)
(2004, 2008)
(2009, 2013)
(2014, 2018)

In [100]:
df2 = df[['Year', 'Combined MPG']].copy()
df2.head()

   Year  Combined MPG
0  1984            17
1  1984            13
2  1985            16
3  1985            13
4  1987            16

In [102]:
df2.values

array([[1984,   17],
       [1984,   13],
       [1985,   16],
       ...,
       [2015,   36],
       [2016,   36],
       [2016,   35]])

In [96]:
df = pd.read_csv('data/vehicles.csv')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [103]:
# try this

In [105]:
data = df2.copy()
data

       Year  Combined MPG
0      1984            17
1      1984            13
2      1985            16
3      1985            13
4      1987            16
...     ...           ...
35947  2013            36
35948  2014            36
35949  2015            36
35950  2016            36
35951  2016            35

[35952 rows x 2 columns]

In [111]:
import numpy as np
import pandas as pd

# Form 7 groups of 5 years (1984-1988, 1989-1993, etc.)
year_groups = [(year, year + 4) for year in range(1984, 2019, 5)]

# Calculate the median Combined MPG for each group
median_mpg_by_group = []
for group in year_groups:
    lower_bound, upper_bound = group
#     print(f"lower_bound: {lower_bound}, upper_bound: {upper_bound}")
    group_data = data[(data["Year"] >= lower_bound) & (data["Year"] <= upper_bound)]
#     print(group_data)

    median_mpg = np.nanmedian(group_data["Combined MPG"])
#     print(median_mpg)
#     break
    median_mpg_by_group.append([(lower_bound, upper_bound), median_mpg])

print(median_mpg_by_group)

[[(1984, 1988), 19.0], [(1989, 1993), 18.0], [(1994, 1998), 19.0], [(1999, 2003), 19.0], [(2004, 2008), 19.0], [(2009, 2013), 21.0], [(2014, 2018), 22.0]]

Q7 SUMMARY answer

In [ ]:
# Extract the columns 'Year' and 'Combined MPG' from the original DataFrame 'df' and create a new DataFrame 'data'.
data = df[['Year', 'Combined MPG']].copy()

# Define the 5-year groups for which we want to calculate the median Combined MPG.
year_groups = [(year, year + 4) for year in range(1984, 2019, 5)]

# Initialize an empty list to store the results of the median Combined MPG for each group.
median_mpg_by_group = []

# Iterate over each 5-year group to calculate the median Combined MPG.
for group in year_groups:
    # Unpack the lower and upper bounds of the current 5-year group.
    lower_bound, upper_bound = group

    # Filter the 'data' DataFrame to include only the rows where the 'Year' falls within the current 5-year group.
    mask = (data["Year"] >= lower_bound) & (data["Year"] <= upper_bound)
    group_data = data[mask]

    # Calculate the median Combined MPG for the current 5-year group.
    # The np.nanmedian() function is used to handle any missing or np.nan values in the 'Combined MPG' column.
    median_mpg = np.nanmedian(group_data["Combined MPG"])

    # Append a new tuple to the 'median_mpg_by_group' list, containing the lower and upper bounds of the current 5-year group
    # and the calculated median Combined MPG for that group.
    median_mpg_by_group.append([(lower_bound, upper_bound), median_mpg])

In [116]:
# How to use
assert 3>4

AssertionError:

In [117]:
# Fiz Q5 Data types

In [119]:
answer_dict = {''}

In [120]:
########## Q5
#Your code here
# Filter the data for Golf cars with Manual 5-spd transmission and Regular Fuel Type
mask = (df['Model'] == 'Golf') & (df['Transmission'] == 'Manual 5-spd') & (df['Fuel Type'] == 'Regular')
filtered_df = df[mask]

# Sort the filtered DataFrame by Year in ascending order
sorted_df = filtered_df.sort_values(by='Year')
# sorted_df.head()

# Use shift to get the previous row's 'Combined MPG'
sorted_df['Previous Combined MPG'] = sorted_df['Combined MPG'].shift(fill_value=sorted_df['Combined MPG'].iloc[0])
# sorted_df[['Combined MPG', 'Previous Combined MPG',]].head()

# Calculate the difference in 'Combined MPG' with the previous model
sorted_df['Difference in MPG'] = sorted_df['Combined MPG'] - sorted_df['Previous Combined MPG']

#Select only the desired columns
result_df = sorted_df[['Year', 'Combined MPG', 'Difference in MPG']].copy()

# Convert the columns from NumPy float to Python float using the astype() method
result_df['Combined MPG'] = result_df['Combined MPG'].astype(float)
result_df['Combined MPG'] = result_df['Combined MPG'].astype(float)
result_df['Difference in MPG'] = result_df['Difference in MPG'].astype(float)


answer_dict['Q5'] = result_df.values.tolist()
answer_dict['Q5']
dtype1 = type(answer_dict['Q6'][0][0])
dtype2 = type(answer_dict['Q6'][0][1])
dtype3 = type(answer_dict['Q6'][0][2])
dtype4 = type(answer_dict['Q6'][0][3])
dtype5 = type(answer_dict['Q6'][0][4])
dtype6 = type(answer_dict['Q6'][0][5])
print(dtype1, dtype2, dtype3, dtype4, dtype5, dtype6)
print(type(answer_dict['Q5']), answer_dict['Q5'], sep='\n')

KeyError: 'Q6'

In [ ]:
# Filter the DataFrame for specified car brands
brands = ['Toyota', 'Ford', 'Volkswagen', 'Nissan', 'Honda']
filtered_df = df[df['Make'].isin(brands)]

# Sort the data by CO2 Emission Grams/Mile for each brand
sorted_df = filtered_df.groupby('Make').apply(lambda x: x.nsmallest(5, 'CO2 Emission Grams/Mile'))

# Create the desired output format
output_list = []
for make in brands:
    # Extract the top 5 least CO2-emitting cars for each brand from sorted_df
    make_data = [make] + list(sorted_df.loc[make]['CO2 Emission Grams/Mile'].values)
    output_list.append(make_data)

Q6 CHECK THE DATA TYPE TO FLOAT

In [122]:
########## Q6
#Your code here
# Filter the DataFrame for specified car brands
brands = ['Toyota', 'Ford', 'Volkswagen', 'Nissan', 'Honda']
filtered_df = df[df['Make'].isin(brands)]

# Sort the data by CO2 Emission Grams/Mile for each brand
sorted_df = filtered_df.groupby('Make').apply(lambda x: x.nsmallest(5, 'CO2 Emission Grams/Mile'))

# Convert the 'CO2 Emission Grams/Mile' column from NumPy float to Python float using the astype() method
sorted_df['CO2 Emission Grams/Mile'] = sorted_df['CO2 Emission Grams/Mile'].astype(float)
sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 25 entries, ('Ford', 13412) to ('Volkswagen', 34714)
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     25 non-null     object
 1   Model                    25 non-null     object
 2   Year                     25 non-null     int64
 3   Engine Displacement      25 non-null     float64
 4   Cylinders                25 non-null     float64
 5   Transmission             25 non-null     object
 6   Drivetrain               25 non-null     object
 7   Vehicle Class            25 non-null     object
 8   Fuel Type                25 non-null     object
 9   Fuel Barrels/Year        25 non-null     float64
 10  City MPG                 25 non-null     int64
 11  Highway MPG              25 non-null     int64
 12  Combined MPG             25 non-null     int64
 13  CO2 Emission Grams/Mile  25 non-null     float64
 14  Fuel Cost/Year           25 non-null     int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.0+ KB

In [128]:
a = list((sorted_df.loc[make]['CO2 Emission Grams/Mile'].values))
print(a)
for item in a:
    print(type(item)); break

[130.0, 167.67924528301887, 167.67924528301887, 167.67924528301887, 167.67924528301887]
<class 'numpy.float64'>

In [121]:
# Create the desired output format
output_list = []
for make in brands:
    make_data = [make] + list(sorted_df.loc[make]['CO2 Emission Grams/Mile'].values)
    output_list.append(make_data)
    
answer_dict['Q6'] = output_list
answer_dict['Q6']
dtype1 = type(answer_dict['Q6'][0][0])
dtype2 = type(answer_dict['Q6'][0][1])
dtype3 = type(answer_dict['Q6'][0][2])
dtype4 = type(answer_dict['Q6'][0][3])
dtype5 = type(answer_dict['Q6'][0][4])
dtype6 = type(answer_dict['Q6'][0][5])
print(dtype1, dtype2, dtype3, dtype4, dtype5, dtype6)

answer_dict['Q6']

<class 'str'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'>

[['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
 ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
 ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
 ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
 ['Honda',
  130.0,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887]]

In [129]:
import numpy as np

# Sample NumPy array with NumPy float values
numpy_array = np.array([3.14, 2.71, 1.618, 0.707])

# Convert the NumPy array to a Python list with float values
python_list = numpy_array.tolist()

# Check the type of the elements in the Python list
print("Type of elements in the Python list:", type(python_list[0]))

Type of elements in the Python list: <class 'float'>

## start and end downwards,

In [132]:
########## Q6
#Your code here
# Filter the DataFrame for specified car brands
brands = ['Toyota', 'Ford', 'Volkswagen', 'Nissan', 'Honda']
filtered_df = df[df['Make'].isin(brands)]

# Sort the data by CO2 Emission Grams/Mile for each brand
sorted_df = filtered_df.groupby('Make').apply(lambda x: x.nsmallest(5, 'CO2 Emission Grams/Mile'))

# Convert the 'CO2 Emission Grams/Mile' column from NumPy float to Python float using the astype() method
sorted_df['CO2 Emission Grams/Mile'] = sorted_df['CO2 Emission Grams/Mile']
# Create the desired output format
output_list = []
for make in brands:
    make_data = [make] + list(sorted_df.loc[make]['CO2 Emission Grams/Mile'].values)
    
    output_list.append(make_data)
    
answer_dict['Q6'] = output_list
answer_dict['Q6']
dtype1 = type(output_list [0][0])
dtype2 = type(answer_dict['Q6'][0][1])
dtype3 = type(answer_dict['Q6'][0][2])
dtype4 = type(answer_dict['Q6'][0][3])
dtype5 = type(answer_dict['Q6'][0][4])
dtype6 = type(answer_dict['Q6'][0][5])
print(dtype1, dtype2, dtype3, dtype4, dtype5, dtype6)

answer_dict['Q6']

<class 'str'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'> <class 'numpy.float64'>

[['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
 ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
 ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
 ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
 ['Honda',
  130.0,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887]]

In [136]:
make

'Honda'

In [135]:
items = list(sorted_df.loc[make]['CO2 Emission Grams/Mile'].values)
for item in items:
    print(type(item))

<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

In [137]:
items = list(sorted_df.loc[make]['CO2 Emission Grams/Mile'].values)

# Convert items to float and store them in a new list called 'items_as_float'
items_as_float = [float(item) for item in items]

# Print the type of each item in the new list
for item in items_as_float:
    print(type(item))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>